<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li id='product_<%= item.product.id %>'>
      <%= item.quantity %> &times; <%= item.product.title %>
    </li>
  <% end %>  
</ul>